<form class="col-lg-12 tile" ng-submit="search()">
	<h2>Filters</h2>
	<input class="col-lg-2" type="text" ng-model="args.animal"  size="30" placeholder="animal">
	<input class="col-lg-2" type="text" ng-model="args.breed"  size="30" placeholder="breed">
	<input class="col-lg-2" type="text" ng-model="args.size"  size="30" placeholder="size">
	<input class="col-lg-2" type="text" ng-model="args.sex"  size="30" placeholder="sex">
	<input class="col-lg-2" type="text" ng-model="args.age"  size="30" placeholder="age">
	<!-- p class="col-lg-2">Age: {{age}}<input type="range" ng-model="args.age"  size="30" min="0" max="3" step="1" value=0></p-->
	<p><input class="btn btn-primary" type="submit" value="{{buttonLabel}}"></p>
</form>