<!-- Jumbotron -->
<div class="jumbotron">
	<h1>Login</h1>
	<!-- <form class="col-lg-12 tile" ng-submit="login()">
		<input class="col-lg-12" type="email" ng-model="userName"  size="30" placeholder="email">
		<input class="col-lg-12" type="password" ng-model="password"  size="30" placeholder="password">
		<p><input class="btn btn-primary" type="submit" value="Login"></p>
	</form> -->
    <google-plus-signin clientid="693695826411-3ngckna6tuub8q39r8at0274aiidpg4n.apps.googleusercontent.com"></google-plus-signin>
	<p><a ng-click="signOut()">signout</a></p>
</div>