<!-- Example row of columns -->
<div class="row" id="result">
	<div class="col-lg-12 tile">
	<h4 style="float:right;">{{results.length}} total</h4>
	<p>Results Per Page: <span class="clickable" ng-repeat="limit in availableLimits"
        ng-class="{'active': isActiveLimit(limit)}"
        ng-click="setLimit(limit)">
      {{ limit }}
      </span></p>
      </div>
	<div class="col-lg-12 tile" ng-repeat="pet in results | limitTo: limit">
		<div >			
			<!-- div class="likeDislike" style="z-index:9999;">
				<span class="dislikeButton noselect" ng-click="dislikePet(pet)" role="button" id="dislikePet">&#128078;</span><span class="likeButton noselect" ng-click="likePet(pet)" role="button" id="likePet">&#128077;</span>
			</div-->
			<div class="col-lg-3">
				<img class="img-responsive tile" ng-src="{{pet.media.photos.photo[0].value.split('?')[0] || 'images/cat.jpg'}}" style="width:100%;" />
			</div>
			<div class="col-lg-3">
				<h1 class="likeDislike">
					<span class="dislikeButton noselect" ng-click="dislikePet(pet)" role="button" id="dislikePet">&#128078;</span><span class="likeButton noselect" ng-click="likePet(pet)" role="button" id="likePet">&#128077;</span>
				</h1>
				<h2>{{pet.name}}</h2>
				<h3>{{pet.animal}}</h3>
				<h3>Breed:  <span ng-repeat="b in pet.breeds.breed">{{b}}, </span></h3>
				<h3>Sex:  {{pet.sex}}</h3>
				<h3>Size:  {{pet.size}}</h3>
				<h3>Age:  {{pet.age}}</h3>
				<p>{{pet.option}}</p>
			</div>
			<div class="col-lg-6">
				<p>{{pet.description}}</p>
			</div>
		</div>
	</div>
</div>