<!-- Example row of columns -->
<h4>{{results.length}} total</h4>
<div class="row" id="result">
	<p>Results Per Page: <span ng-repeat="limit in availableLimits"
        ng-class="{'active': isActiveLimit(limit)}"
        ng-click="setLimit(limit)">
      {{ limit }}
      </span></p>
	<div class="col-lg-12 tile" ng-repeat="pet in results | limitTo: limit">
		<h2>{{pet.name}}</h2>
		<p>Age:  {{pet.age}}</p>
		<p>Color:  {{pet.color}}</p>
		<p>Species:  {{pet.species}}</p>
		<p>Breed:  {{pet.breed}}</p>
		<p><a class="btn btn-primary dislikeButton" ng-click="dislikePet(pet)" role="button" id="dislikePet"> &laquo; Dislike</a><a class="btn btn-primary likeButton" ng-click="likePet(pet)" role="button" id="likePet">Like &raquo;</a></p>
	</div>
</div>