<div id="petFinder">
	<div class="jumbotron">
		<h1>Search For a Pet Your Own Way</h1>
		<p class="lead">Click below to see random pets, or search for what you want.</p>
		<p><a class="btn btn-lg btn-success" href="#search/results" role="button" id="btnjson" ng-click="getPet()">Random</a></p>
	</div>
	     	
	<div class="row">
	<form class="col-lg-12 tile" ng-submit="search()">
		<h2>Filters</h2>
		<input class="col-lg-3" type="text" ng-model="petName"  size="30" placeholder="name">
		<input class="col-lg-3" type="text" ng-model="petColor"  size="30" placeholder="color">
		<input class="col-lg-3" type="text" ng-model="petSpecies"  size="30" placeholder="species">
		<input class="col-lg-3" type="text" ng-model="petBreed"  size="30" placeholder="breed">
		<p class="col-lg-6">Minimum Age: {{petAgeMin}}<input type="range" ng-model="petAgeMin"  size="30" min="0" max="20" step="1" value=0></p>
		<p class="col-lg-6">Maximum Age: {{petAgeMax}}<input type="range" ng-model="petAgeMax"  size="30" min=0 max="20" step="1" value=20></p>
		<p><input class="btn btn-primary" type="submit" value="Find Pet"></p>
	</form>
	</div>
</div>